{% extends 'base.html' %}
{% load static %}
{% block header %}
<div class=" container px-4 py-5 my-5 text-center shadow bg-light">
    <h1 class="display-5 fw-bold">Food and naurishment</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'recipes' %}" class="btn btn-success btn-lg px-4 gap-3">Recipes</a>
            <a href="{% url 'pantry' %}" class="btn btn-outline-success btn-lg px-4">General principles</a>
            <a href="{% url 'general-principles' %}" class="btn btn-outline-success btn-lg px-4">Pantry</a>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}

<section class="row py-5">
    <div class="col-md-9">
        <article class="blog-post">
            <h2 class="display-3">Meal of the Day</h2>
            <p class="blog-post-meta">by <a href="#">fiducia</a></p>
            <div class="recipe-grid-list">
                {% for recipe in object_list %}
                <div class="recipe-meal-card card border border-0 shadow">
                    <div class="card-header ">
                        <div class="card-body">
                            <a href="{% url 'recipe-detail' recipe.pk %}" class="card-link">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                            </a>
                            <p class="card-text">{{recipe.category}}</p>
                        </div>
                    </div>
                    {% if recipe.picture %}
                    <img src="{{recipe.picture}}" class="card-img-top" alt="...">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </article>
    </div>

    <div class="col-md-3">
        <aside class="position-sticky text-light bg-dark my-4 rounded" style="top: 2rem;">
            <div class="p-4 mb-3">
                <h4>About</h4>
                <p class="mb-0">Customize this section to tell your visitors a little bit about your publication,
                    writers, content, or something else entirely. Totally up to you.</p>
            </div>

            <div class="p-4">
                <h4>Festivals</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">December 24</a></li>
                    <li><a href="#">December 25</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside>
    </div>
</section>
{% endblock content %}